#form{
	background-color:RGB(200,200,200);
	font-weight:bold;
	padding:5%;
	margin: 10%;
	
	display:block;
	opacity:0.7;
	border: 2px solid RGB(0,0,0);
    border-radius: 25px;
	
	}
	
#first{
	background-image:url('../img/Food.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	}
#buttons{
	display:block;
	margin-left:40%;
	margin-right:51%;
	color:RGB(0,0,0);
	background-color:RGB(200,200,200);
	padding:0.5%;
	border: 2px solid RGB(0,0,0);
    border-radius: 25px;
}
	
	
